<li (mouseenter)="showButton()"
(mouseleave)="hideButton()">

<mat-checkbox   [(ngModel)]="checkboxFlag" (change) = "checkChange()"></mat-checkbox>
{{price}},{{name}}

<button *ngIf="showTheButton" mat-raised-button  color="primary" (click)= "showDelete()"> Delete</button> 
<button *ngIf="showDeleteField" mat-raised-button  color="primary" (click) = "delete()"> click to delete</button>
<button *ngIf="showDeleteField" mat-raised-button  color="primary" (click) = "cancel()"> cancel</button>
</li>



